html,
body {
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: white !important;
}

.no-padding {
  padding: 0 !important;
}
p{
  font-family: 'Mulish', sans-serif;
}
